{% extends "base.html" %}

{% block content %}
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">Message to {{ recipient }}</h2>
        </div>
    </div>
    <form action='' method='post' enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.message(class='form-control form-control-lg')}}
            </div>
        </fieldset>
        <p>{{ form.submit(class="btn btn-outline-info") }}</p>
    </form>
{% endblock %}
