<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new.css') }}">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    let contain = document.getElementById('main').clientWidth;
    console.log(contain);
    $('.draggable').css('width', `${contain}px`);
    contain2 = document.getElementById('draggable').clientWidth;

    $( ".draggable" ).draggable(
      {
        axis: "y",
        containment: "parent",
        grid: [ 50, 20 ]
      }
    ).resizable({
      containment: "parent",
      grid: [ 50, 20 ],
      ghost: true,
      animate: true,
      handles: 'n, s'

    });
  } );
  </script>
</head>
<body>
 <div class="container">
  <div class="content" id="main">
    <div id="draggable" class="ui-widget-content draggable">
      <p>Drag me around</p>
    </div>
    <div id="draggable" class="ui-widget-content draggable">
      <p>Drag me around</p>
    </div>
  </div>
</div>

</body>
</html>